
.box{
    width: 50px;
    height:50px;
    background-color: hsl(136, 100%, 50%);
}
.pixel{
    border: 1px solid;
    border-color: black;
}

.em{
    font-size: 40px;
    display: inline;
}
.em > p{
font-size: .5em;
}

p{
    display: inline-block;
    font-size: 50px;
}

html{
    font-size: 16px;
}

h1{
    font-size: 2rem;
    margin: 0;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.para{
font-size: 1rem;
}

